<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product List</title>
</head>
<body>

<form action="#" th:action="@{products}" method="get">
    <input type="text" name="name" placeholder="Product Name">
    <button type="submit">Search</button>
</form>
<a th:href="@{/products/create}"ß>Create New Product</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.created_at}"></td>
        <td th:text="${product.updated_at}"></td>
        <td>
            <a th:href="@{'/products/' + ${product.id} + '/edit'}">Edit</a>
            <form th:action="@{'/products/' + ${product.id}}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>